.body {
    margin: 50px;
}
.titre {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat Bold', sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #7c8184;
    color: black;
    text-align: center;
    height: 100px;
    padding-top: 30px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid #c4c4c4;
    padding: 20px 25px 10px 25px;
    margin-top: 100px;
    margin-left: 40%;
    width: 360px;
    border-radius: 5px;
}
.main-header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.button{
    columns: #006eff;
    margin-right: 5px;
}
.logo{
    cursor: pointer;
}
.ligne{
    border: 1px solid black;
}
.loginB{
    width: 310px;
    color: rgb(36, 95, 206);
}
.text-bottom {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.right{
    margin-left: 110px;
}
.bold{
    font-family: 'Montserrat Bold', sans-serif;
}
.image{
    height: 170vh;

    margin-bottom: 20px;
    background-size: cover;
    position: relative;
}
.slide{
    color:rgb(53, 45, 45);
   
}
.bgimage {
    height: 90vh;
    background: url('asset/images/heroImage.jpeg');
    background-size: cover;
    position: relative;

}
.slide-titre{
    font-size: 4.5rem;
    text-align: center;
    padding-top: 10%;
    color: aliceblue;
}
.slide-desc{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}
.buttonAdd{
    width: 150px;
    color: #006eff;
    border-radius: 5px;
    text-align: center;
    margin: 30px auto;
    margin-left: 50%;

}
.table{
    width: 100px;
    border: 1px solid;
    margin-left: 100px auto;
}