.body {
    margin: 50px;
}
.titre {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7c8184;
    color: black;
    text-align: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid #c4c4c4;
    padding: 20px 25px 10px 25px;
    margin: 100px auto;
    width: 360px;
    border-radius: 5px;
}
.main-header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.button{
    margin-right: 5px;
}
.logo{
    cursor: pointer;
}
.ligne{
    border: 1px solid black;
}
